/* Background */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* Container */
.container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  color: rgb(221, 52, 14);
  border-radius: 20px;
}

/* Title */
h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

/* Controls */
.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/* Input & Select */
input,
select {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  backdrop-filter: blur(10px);
}

/* Glass effect */
input {
  background:white;
  color:black;
}

select {
  background: white;
  color: black;
}

/* Grid */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

/* Card */
.card {
  padding: 20px;
  border-radius: 15px;
  text-align: center;

  /* Glassmorphism */
  background: #ede7e7e7;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease;
}

/* Hover animation */
.card:hover {
  transform: translateY(-10px) scale(1.03);
}

/* Title inside card */
.card h3 {
  margin-bottom: 10px;
}

/* Price */
.card p {
  font-size: 18px;
  font-weight: bold;
  color: #1100ff;
}

/* Button */
.btn {
  margin-top: 12px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #00ffcc, #00c3ff);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* No data text */
.no-data {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
}